<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @charity.name %>
</p>

<p>
  <b>Url:</b>
  <%= @charity.url %>
</p>

<p>
  <b>ZipCode:</b>
  <%= @charity.zip_id %>
</p>


<%= link_to 'Edit', edit_charity_path(@charity) %> |
<%= link_to 'Back', charities_path %>
